<section id="contact" class="bg-light mt-3">
  <div class="container">
    <div class="row g-3 py-4">
      <div class="col-sm-3">
        <div class="logo">
          <img src="./assets/image/logo.webp" class="w-100" alt="benzeny">
          <div class="soical d-flex justify-content-center align-items-center gap-3 mt-3">
            <a href="https://www.facebook.com/share/1L9WGNx6Wb/?mibextid=wwXIfr" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://sa.linkedin.com/company/benzeny-application" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/benzeny_app?igsh=azUzYjVreXhvbnNn" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="links">
          <ul class="list-unstyled d-flex flex-column gap-3">
            @for(section of sections;track $index){
              <li>
                <a (click)="scrollToSection(section.id)" [ngClass]="{'active': activeLink === section.id}">
                  <img [src]="section.image" class="footer-icons">
                  {{ section.name }}
                </a>
              </li>
            }
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <h6>Ads Signup</h6>
        <ul class="list-unstyled d-flex flex-column gap-3">
          <li><a class="cr auth-ads"><img src="./assets/image/login.png" class="footer-icons"> Login</a></li>
          <li><a class="cr auth-ads"><img src="./assets/image/signup.png" class="footer-icons"> Signup</a></li>
        </ul>
      </div>
    </div>

  </div>
</section>
