<section id="about" class="about overflow-hidden">
  <div class="row g-3">
    <div class="col-md-6">
      <div class="d-flex flex-column justify-content-center align-items-start h-100 wow fadeInLeft" style="visibility: hidden; animation-name: none;">
        <h2>WHO ARE <span class="main-color">WE</span> ?</h2>
        <p>“ Benzeny first launched in January 2020, covering the entire Makkah region, mainly with SASCO stations.
          We have a vision to digitalize and simplify the existing fuel management process, optimizing fuel
          budgets, reducing errors, controlling spending, and automating fuel distribution. ”</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="about-img d-flex justify-content-center aling-items-center wow fadeInRight">
        <img src="./assets/image/img- about.jpg" alt="">
      </div>
    </div>
  </div>
</section>

