$mainColor:#f79320;
.about{
  padding: 100px 0;
  background-color: #eeeeee85;
  @media (max-width:567px) {
    padding: 50px 0;
  }
  .about-img{
    img{
      width: 90%;
    }
  }

  .about-info{
    h2{
      font-size: 2.5rem;
    }
    p{
      text-align: justify;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .about-img-sm{
    position: absolute;
    bottom: -80px;
    right: 10px;
    width: 60%;
    height: 200px;

    @media (max-width:567px) {
      display: none;
    }
  }
}





