<section id="about" class="about py-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-md-5">
        <div class="about-info d-flex flex-column justify-content-center align-items-start h-100">
          <h2 class="wow fadeInDown">WHO ARE <span class="main-color">WE ?</span></h2>

          <div class="content-about wow fadeInLeft">
            <h5>Benzeny first launched in January 2020, covering the entire Makkah region, mainly with SASCO stations.</h5>
            <p>We have a vision to digitalize and simplify the existing fuel management process, optimizing fuel budgets, reducing errors, controlling spending, and automating fuel distribution.</p>
            <ul class="list-group list-unstyled mb-2">
              <li class="">Service guarantee</li>
              <li class="">Tradition of trust</li>
            </ul>
          </div>
          <div class="content-about wow fadeInLeft">
            <h5>Corporate value</h5>
            <p>We're a digital fuel control company that provides a market-leading application to help digitize and simplify the fuel distribution process. We're committed to optimizing fuel budgets, reducing errors, controlling spending and automating the entire process.</p>

            <ul class="list-unstyled d-flex align-items-center gap-4">
              <li class="">Trust</li>
              <li class="">Simplicity</li>
              <li class="">Innovation</li>
              <li class="">Teamwork</li>
            </ul>
          </div>

          <!-- <div class="content-about wow fadeInLeft">
            <h5>Our Mission</h5>
            <p>Digitize and simplify the exiting process, which will help to optimize fuel budget, reduce errors, control spending and automate fuel distribution.</p>
          </div>

          <div class="content-about wow fadeInLeft">
            <h5>Our Vision</h5>
            <p>Market knowledge allows you to make conscious decisions. Changing habits and rules is needed to prevent fuel waste and keep fuel consumption under control, for a better future. Benzeny provides companies and fuel station owners with an application to make that change.</p>
          </div>

          <div class="content-about wow fadeInLeft">
            <h5>Corporate value</h5>
            <p>We're a digital fuel control company that provides a market-leading application to help digitize and simplify the fuel distribution process. We're committed to optimizing fuel budgets, reducing errors, controlling spending and automating the entire process.</p>

            <ul class="list-unstyled d-flex align-items-center gap-4">
              <li class="">Trust</li>
              <li class="">Simplicity</li>
              <li class="">Innovation</li>
              <li class="">Teamwork</li>
            </ul>
          </div> -->

          <!-- <img src="../../assets/image/shape3.svg" class="star-img" alt=""> -->
        </div>
      </div>
      <div class="col-md-7">
        <div class="about-img position-relative d-flex justify-content-center aling-items-center wow fadeInRight h-100">
          <img src="../../assets/image/card-img-about.png" class="w-100" alt="">
          <div class="position-absolute slider-about-us">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="false" space-between="30" centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
              <swiper-slide>
                <div class="content-about">
                  <i class="fa-brands fa-nfc-directional fs-1 mb-2"></i>
                  <h5>Our Mission</h5>
                  <p>Digitize and simplify the exiting process, which will help to optimize fuel budget, reduce errors, control spending and automate fuel distribution.</p>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="content-about wow fadeInLeft">
                  <i class="fa-brands fa-nfc-directional fs-1 mb-2"></i>
                  <h5>Our Vision</h5>
                  <p>Digitize and simplify the exiting process, which will help to optimize fuel budget, reduce errors, control spending and automate fuel distribution.</p>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

