<section id="about" class="about">
  <div class="row g-3">
    <div class="col-md-6">
      <div class="d-flex flex-column justify-content-center align-items-start h-100">
        <h1>WHO ARE WE?</h1>
        <p>“Benzeny first launched in January 2020, covering the entire Makkah region, mainly with SASCO stations.
          We have a vision to digitalize and simplify the existing fuel management process, optimizing fuel
          budgets, reducing errors, controlling spending, and automating fuel distribution.”</p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="./assets/image/img- about.jpg" class="w-100" alt="benzeny">
    </div>
  </div>
</section>

