<nav [ngStyle]="{'top': navbarTop}" class="navbar w-100 navbar-expand-lg rounded-5 px-5 animate__animated animate__fadeInDown position-fixed">
  <a class="navbar-brand cr" (click)="scrollToSection('home')">
    <img src="assets/image/logo.webp" alt="benzeny">
  </a>
  <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center">
      <i class="fa-brands fa-nfc-symbol text-dark fs-1"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse list-Item" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto gap-4">
      <li class="nav-item" *ngFor="let section of sections">
        <a class="nav-link px-0"
           (click)="scrollToSection(section.id)"
           [ngClass]="{'active': activeLink === section.id}">
          {{ section.name }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0" routerLink="/contact" routerLinkActive="active">Contact Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link auth cr">Login</a>
      </li>
    </ul>
  </div>
</nav>
