$mainColor:#f79320;
*{
  transition: all .3s;
}
nav{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px #8a8a8a;
  z-index: 9999;
  .navbar-brand{
    cursor: pointer;
    img{
      width: 120px;
    }
    span{
      text-shadow: 0 0 25px $mainColor;
    }
  }
  .navbar-toggler-icon{
    background: none;
  }

  .list-Item{
    .nav-link:not(.auth){
      font-size: 14px;
      font-weight: 500;
      position: relative;
      cursor: pointer;
      &::before{
        content: '';
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $mainColor;
        transition: all .3s;
      }
      &.active, &:hover{
        color: $mainColor;
        font-weight: bold;
      }
      &.active::before,&:hover::before{
        width: 75%;
      }
    }
    .auth{
      &:hover{
        color: $mainColor;
      }
    }
  }
}
@media (max-width:991px) {
  nav{
    padding-inline: 20px !important;
    .navbar-nav{
      gap: 0 !important;
    }
    .list-Item{
      .nav-link{
        &.active::before,&:hover::before{
          width: 25px !important;
        }
      }
    }
  }
}

.car-gif{
  position: fixed;
  bottom: -95px;
  right: -100%;
  width: 300px;
  z-index: 9999;
  animation: goRight 5s ease-in infinite;
}

@keyframes goRight {
  0%{
    right: -100%;
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  98%{
    opacity: 1;
  }
  100%{
    right: 100%;
  }
}
