<nav [ngClass]="{
  'rounded-top-0': navbarWidth == '100%',
  'rounded-bottom-0': navbarWidth == '100%'
}" [ngStyle]="{ 'width': navbarWidth, 'left': navbarLeft, 'top': navbarTop }" class="navbar navbar-expand-lg rounded-5 px-5 animate__animated position-fixed animate__fadeInDown">
  <a class="navbar-brand" id="#home">
    <img src="./assets/image/logo.webp" alt="benzeny">
  </a>
  <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center">
      <i class="fa-brands fa-nfc-symbol text-dark fs-1"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse list-Item" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto gap-4">
      <li class="nav-item">
        <a class="nav-link px-0" (click)="scrollToSection('home')" [ngClass]="{'active': activeLink === 'home'}" (click)="setActiveLink('home')">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0" (click)="scrollToSection('about')" [ngClass]="{'active': activeLink === 'about'}" (click)="setActiveLink('about')">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0" (click)="scrollToSection('service')" [ngClass]="{'active': activeLink === 'service'}" (click)="setActiveLink('service')">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0" (click)="scrollToSection('feature')" [ngClass]="{'active': activeLink === 'feature'}" (click)="setActiveLink('feature')">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0" (click)="scrollToSection('contact')" [ngClass]="{'active': activeLink === 'contact'}" (click)="setActiveLink('contact')">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto gap-3 justify-content-center align-items-center">
      <li class="nav-item">
        <a class="nav-link auth cr p-0">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link auth cr p-0">Signup</a>
      </li>
    </ul>
  </div>
</nav>
