$mainColor:#f79320;

nav{
    width: 70%;
    box-shadow: 0 0 10px 10px #eee;
    top: 30px;
    background-color: #eee;
    backdrop-filter: blur(20px);
    .navbar-brand{
      img{
          width: 100px;
      }
      transition: all .3s;
      cursor: pointer;
      span{
          text-shadow: 0 0 25px $mainColor;
      }
    }
    .navbar-toggler-icon{
        background: none;
    }
    .navbar-brand:hover{
        transform: scale(1.1);
    }
    .list-Item{
        .nav-link{
            font-size: 14px;
            font-weight: 500;
            position: relative;
            transition: all .3s ease;
            &::before{
                content: '';
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 0;
                height: 3px;
                background-color: $mainColor;
                transition: all .3s;
            }
            &.active{
                color: $mainColor;
            }
            &.active::before,&:hover::before{
                width: 75%;
            }
        }
    }
}
