<section id="service" class="service">
  <div class="row">
    <div class="col-md-4">
      <h4>Comprehensive Fuel Solutions</h4>
      <ul class="nav nav-tabs flex-column border-0 w-100" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active w-100" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Benefits of Benzeny</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Station companies</button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
        </li> -->
      </ul>
    </div>
    <div class="col-md-8">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <div class="d-flex justify-content-center align-items-center">
            <img src="./assets/image/service-image/service-1.png" class="w-100" alt="benzeny">
            <div>
              <h1>Various companies</h1>
              <p>
                If you are running a business with a lot of vehicles, paying or financing for petrol can get complicated especially with the unstable prices of petrol these day. That's why we have lunched Benzeny to make it easier for the companies to provide petrol for their drivers without any trouble. Top secret technical app seeks saving time and providing the highest level of financial security.
              </p>
              <h5>Benefits of Benzeny</h5>
              <p>Benzeny services provide monthly VAT invoice for fuel consumption so companies and recover the Vat
                Benzeny eliminates the use of invoices for filling fuel which can be played with or lost in sometimes
                Benzeny is also time efficient as you would not spend hours and hours trying to finance petrol prices
                Benzeny also provides monthly reports for each drivers containing which station the operation took place, the amount, petrol type and date/time.
                We provide tech support to our costumers and ask for feedbacks to improve our service
                Benzeny gives you complete control over your petrol finance in one single platform
              </p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <div class="d-flex justify-content-center align-items-center">
            <img src="./assets/image/service-image/service-2.png" class="w-100" alt="benzeny">
            <div>
              <h1>Station companies</h1>
              <p>
                Station companies must first have an agreement with Benzeny in order to have Benzeny service in their station. Once Benzeny will give permission to the company to add stations, add station staff etc. After that Benzeny will send a support team to train the station staff Station companies will benefit from Benzeny services as follows :
                Benzeny will provide daily/weekly/monthly reports to the stations in order to see the sales progress, how much liter was sold today whether it is Diesel,95 or 91.
                The station company can also view reports of each worker and calculate his sales.
                The station can reduce cash in the hands of their staff which often leads to theft or loss of cash since the worker will have to carry a big amount
                Benzeny will bring customers (various companies & individuals) to the stations.</p>
              <h4>Requirements</h4>
              <p>The station company will only need one affordable smart phone of any type connected to internet for each station. This will allow the station staff to scan the QR code of the customers and keep track of his daily sales.</p>
            </div>
          </div>
        </div>
        <!-- <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

        </div> -->
        <!-- <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div> -->
      </div>
    </div>
  </div>
</section>

