<section id="service" class="service">
  <h2 class="text-center wow fadeInDown"><span class="main-color">SE</span>RVICES</h2>
  <swiper-container class="mySwiper" pagination="false" effect="coverflow" grab-cursor="true" centered-slides="true"
  slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
  coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true" autoplay-delay="2000" autoplay-disable-on-interaction="false">
    @for (slide of getAllSlide; track $index) {
      <swiper-slide class="slide my-3 p-3 rounded-3 position-relatives">
        <div>
          <h4>{{slide.title}}</h4>
          <p>{{slide.desc}}</p>
        </div>
        <div class="text-center">
          <img [src]="slide.src" class="w-100">
        </div>
      </swiper-slide>
    }
  </swiper-container>
</section>

