$mainColor:#f79320;
.package{
  background-color: #eeeeee85;
  .card{
    .card-title{
      color: $mainColor;
      font-size: 30px;
      border-bottom: 1px solid $mainColor;
      padding-bottom: 10px;
    }
    .subscripe-btn{
      background-color: $mainColor;
      color: #fff;
    }
  }
}
