<section class="position-relative">
  <app-navbar></app-navbar>
  <app-home></app-home>
  <div class="container mt-5">
    <div class="row g-5">
      <div class="col-12">
        <app-about></app-about>
      </div>
      <div class="col-12">
        <app-service></app-service>
      </div>
      <div class="col-12">
        <app-feature></app-feature>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <a href="#home" [ngClass]="{'d-block': showArrow,'d-none': !showArrow}" class="arrowup cr"><i class="fa-solid fa-chevron-up"></i></a>
</section>
