<section id="fill" class="fill py-5">
  <div class="container">
    <h2 class="text-center main-color">Fill Fuel Everywhere</h2>
    <div class="row">
      <div class="col-12">
        <!-- <div class="icon-circle-wrapper">
          <img src="assets/image/fill-image/fill-1.jpg" alt="Main" class="main-image">
          <i class="fa-solid fa-people-roof icon" style="--i: 0;"></i>
          <i class="fa-solid fa-satellite icon" style="--i: 1;"></i>
          <i class="fa-solid fa-satellite-dish icon" style="--i: 2;"></i>
          <i class="fa-brands fa-artstation icon" style="--i: 3;"></i>
          <i class="fa-brands fa-fonticons icon" style="--i: 4;"></i>
          <i class="fa-brands fa-playstation icon" style="--i: 5;"></i>
          <i class="fa-brands fa-invision icon" style="--i: 6;"></i>
          <i class="fa-brands fa-tiktok icon" style="--i: 7;"></i>
        </div> -->

        <!-- <div class="icon-circle-wrapper">
          <img src="assets/image/fill-image/fill-1.jpg" alt="Main" class="main-image">
          <div class="icon-container" #iconContainer>
             <i *ngFor="let icon of icons; let i = index" class="cr" [class]="icon.class" #iconElement></i>
          </div>
        </div> -->

        <div class="image text-center">
          <img src="assets/image/fill-image/fill-2.png" alt="">
        </div>

      </div>
    </div>
  </div>
</section>
