/* BackGround Log In Style*/
$mainColor:#f79320;
.home{
  background-image: linear-gradient(to right, #000000a5 50%, #000000a5), url('../../assets/image/home-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .head-text{
    h1,h2{
      font-size: 60px;
    }
    h2{
      position: relative;
      left: 50px;
    }
    p{
      font-size: 20px;
    }
  }
  .arrowDonw{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 20px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #fff;
    text-align: center;
    i{
      font-size: 20px;
      animation: down 1.2s infinite forwards alternate-reverse;
    }
  }
  .home-img {
    animation: transform 2s forwards alternate-reverse infinite;
    border-radius: 10%;
  }
}

@media (max-width:768px) {
  .home{
    .head-text{
      margin-top: 25px;
      h1,h2{
        text-align: center !important;
        font-size: 30px !important;
      }
      h2{
        left: 0;
      }
      p{
        font-size: 16px;
      }
    }
    .arrowDonw{
      position: absolute;
      bottom: 20px;
      left: 50%;
      width: 20px;
      height: 50px;
      border-radius: 20px;
      border: 1px solid #fff;
      text-align: center;
      i{
        font-size: 20px;
        animation: down 1.2s infinite forwards alternate-reverse;
      }
    }
  }
}

@keyframes down {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(25px);
  }
}

@keyframes transform {
  0%{
    transform: translateY(20px);
    border-top-left-radius: 20%;
    border-bottom-left-radius: 70%;
  }
  100%{
    transform: translateY(-10px);
    border-top-right-radius: 70%;
    border-bottom-right-radius: 20%;
  }
}

