<section id="home" class="home position-relative overflow-hidden">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="head-text z-2">
      <div class="row g-3 h-100">
        <div class="col-lg-6 animate__animated animate__fadeInLeft">
          <div class="head-info d-flex align-items-end">
            <h1>Save Fuel,</h1>
            <img src="./assets/image/shape2.svg" class="arrow-img" alt="">
          </div>
          <h2>Save Money</h2>

          <p>“The needs of our community require us to stay updated on the latest tools and applications available inthe marketplace.”</p>
        </div>

        <div class="col-lg-6 animate__animated animate__fadeInRight">
          <div class="head-info-img">
            <img src="./assets/image/6201165_3189779.svg" class="w-100 fuel-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="head-img position-absolute top-0 z-1">
    <img src="./assets/image/langBg.png" class="w-100 h-100" alt="">
  </div>

  <a href="#about" class="arrowDonw">
    <i class="fa-solid fa-caret-down text-white"></i>
  </a>
</section>
