<section id="home" class="home position-relative d-flex justify-content-center align-items-center overflow-hidden">
  <div class="container position-relative z-3 mt-5">

    <div class="row g-3">
      <div class="col-md-7">
        <div class="home-info">
          <div class="home-title">
            <h1 class="main-color fw-bold">Control Your<br>Fuel Expenese</h1>
            <button class="btn text-white px-5 rounded-5 mt-4">Get Started</button>
          </div>

          <div class="home-description mt-3">
            <div class="d-flex gap-2">
              <div class="border border-dark p-3 rounded-3">
                <h6 class="main-color fw-bold">Strategies For Fuel Managments</h6>
                <p>Benzeny app is a powerful tool that provides you with the strategies and solutions needed to optimize and manage your company's fuel expenses effectively</p>
                <span class="main-color cr">Learn More</span>
              </div>

              <div class="border border-dark p-3 rounded-3">
                <h6 class="main-color fw-bold">Optimize Your Fuel Costs</h6>
                <p>Take control of your fuel expenese with Benzeny App. Our Platform offers the optimization and insights required to make informed descision and reduce costs significanlly</p>
                <span class="main-color cr">Sign Up Now</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="home-img">
          <img src="assets/image/home-image/land-home.png" class="w-100" alt="">
        </div>
      </div>
    </div>
  </div>


  <div class="home-bg position-absolute top-0 z-1">
    <img src="assets/image/langBg.png" class="w-100 h-100" alt="">
  </div>
</section>
