<section id="home" class="home vh-100 position-relative">
  <div class="container d-flex justify-content-center align-items-center h-100 position-relative">
    <div class="row">
      <div class="col-md-6">
        <div class="head-text text-white z-3">
          <h1 class="fw-bold m-0 main-color animate__animated animate__fadeInLeft">Save Fuel</h1>
          <h2 class="fw-bold m-0 h1 main-color animate__animated animate__flipInX animate__delay-1s">Save Money</h2>
          <p class="animate__animated animate__zoomIn animate__delay-2s">“ The needs of our community require us to stay updated on the latest tools and applications available inthe marketplace. ”</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="animate__animated animate__slideInDown">
          <img src="./assets/image/2301.q803.008.S.m012.c12.fuel gas handle pump nozzle realistic.jpg" class="home-img w-100" alt="">
        </div>
      </div>
    </div>
  </div>
  <a href="#about" class="arrowDonw">
    <i class="fa-solid fa-caret-down text-white"></i>
  </a>
</section>
