<section class="feature" id="feature">
  <h2 class="text-center wow fadeInDown"><span class="main-color">FE</span>ATURES</h2>
  <div class="row g-3">
    <div class="col-md-6 col-lg-4">
      <div class="item wow fadeInLeft p-3 rounded-3 d-flex gap-3 flex-column text-center justify-content-center aling-items-center">
        <img src="../../assets/image/feature-image/contactless_3585787.png" class="mx-auto" alt="">
        <h5>Feature 1</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et natus doloribus facere ratione cupiditate</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="item wow fadeInDown p-3 rounded-3 d-flex gap-3 flex-column text-center justify-content-center aling-items-center">
        <img src="../../assets/image/feature-image/fuel_14530256.png" class="mx-auto" alt="">
        <h5>Feature 2</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et natus doloribus facere ratione cupiditate</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="item wow fadeInRight p-3 rounded-3 d-flex gap-3 flex-column text-center justify-content-center aling-items-center">
        <img src="../../assets/image/feature-image/fuel_1505577.png" class="mx-auto" alt="">
        <h5>Feature 3</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et natus doloribus facere ratione cupiditate</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="item wow fadeInLeft p-3 rounded-3 d-flex gap-3 flex-column text-center justify-content-center aling-items-center">
        <img src="../../assets/image/feature-image/petrol_2311324.png" class="mx-auto" alt="">
        <h5>Feature 4</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et natus doloribus facere ratione cupiditate</p>
      </div>
    </div>
  </div>
</section>
