<section class="feature py-5" id="feature">
  <div class="container">
    <h2 class="text-center wow fadeInDown"><span class="main-color">FE</span>ATURES</h2>
    <div class="row g-3">
      <div class="col-md-6 col-lg-4">
        <div class="item  h-100 wow fadeInLeft p-3 rounded-3 d-flex gap-3 flex-column text-center justify-content-start aling-items-center">
          <img src="../../assets/image/feature-image/contactless_3585787.png" class="mx-auto" alt="">
          <h5>NFC Chip on Vehicles</h5>
          <ul class="list-unstyled text-start">
            <li>
              For each vehicle registered a chip will be produced that contains information about the vehicle and the daily/monthly limit.
            </li>
            <li>
              This chip will be recognized by all the stations in Saudi Arabia. Once the vehicle reaches the station, the chip will be scanned in order to fill the vehicle. After which all the operation details will show on the companies dashboard.
            </li>
            <li>
              These chips will be water and heat proof, on top of this it will be covered by an additional layer to maximize protection. For security purpose these chips are design to terminate itself once it is removed from the vehicle.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="item h-100 wow fadeInLeft p-3 rounded-3 d-flex gap-3 flex-column text-center justify-content-start aling-items-center">
          <img src="../../assets/image/feature-image/feature3.png" class="mx-auto" alt="">
          <h5>Odometer Readings</h5>
          <ul class="list-unstyled text-start">
            <li>
              After filling the vehicle the employee will be requested to enter the odometer manually as well as take pictures of the odometer to be uploaded on the application.
            </li>
            <li>
              These readings will be analyzed by the system in order to make sure that the employee is not performing unnecessary operation.
            </li>
            <li>
              These readings will also be available on the reports of the operations.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="item h-100 wow fadeInLeft p-3 rounded-3 d-flex gap-3 flex-column text-center justify-content-start aling-items-center">
          <img src="../../assets/image/feature-image/feature4.png" class="mx-auto" alt="">
          <h5>Automatic Invoice System</h5>
          <ul class="list-unstyled text-start">
            <li>
              Benzeny Provides automatic invoice system that sends Invoices to the companies each month.
            </li>
            <li>
              These invoices contains the total fuel consumption of the companies in details as well as the VAT paid by the company in order to get VAT refund.
            </li>
            <li>
              With the current invoice system companies find it hard and time consuming to collect the paper invoice from each employees which sometimes can be lost or played with.
            </li>
            <!-- <li>
              This method is inefficient. But with Benzeny automatic invoice system it can just be done in a matter of minutes.
            </li>
            <li>
              We aim to digitalize and simplify the exiting process, which will help to optimize fuel budget, reduce errors, control spending and automate fuel distribution.
            </li>
            <li>
              We also aim to be authorized and recognized source of fuel invoicing / management by the General Authority of Zakat and Tax to reduce overall manipulation of hand written fuel invoices.
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
